{%extends "layout.html"%} {% block body %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('{{ url_for('static',filename='assets/img/home-bg.jpg')}}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Admin Panel</h1>
          <span class="subheading">Manage your posts</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <h1>Basic Actions</h1>
      <button class="btn btn-primary">
        <a href="/dashboard">dashboard</a></button
      ><br /><br />
      <button class="btn btn-primary"><a href="/logout">Logout</a></button
      ><br />
      <hr />
      <br />
      <h2>Upload a file</h2>
      <div>We will upload a file here</div>

      <h1>Welcome to dashboard</h1>
      <br />
      <!-- for printing the table  -->
      <form
        id="contactForm"
        data-sb-form-api-token="API_TOKEN"
        action="/edit/{{sno}}"
        method="POST"
      >
        <div class="form-floating">
          <input
            class="form-control"
            id="title"
            name="title"
            type="text"
            placeholder="Enter your title..."
            value="{{post.title}}"
            data-sb-validations="required"
          />
          <label for="title">Title</label>
        </div>
        <div class="form-floating">
          <input
            class="form-control"
            id="slug"
            name="slug"
            type="text"
            value="{{post.slug}}"
            placeholder="Enter your slug..."
            data-sb-validations="required"
          />
          <label for="slug">Slug</label>
        </div>
        <div class="form-floating">
          <textarea
            class="form-control"
            id="content"
            name="content"
            placeholder="Enter your content here..."
            style="height: 12rem"
            data-sb-validations="required"
          >
{{post.content}}</textarea
          >
          <label for="message">Content</label>
          <div class="invalid-feedback" data-sb-feedback="message:required">
            Content is required.
          </div>
        </div>
        <div class="form-floating">
          <input
            class="form-control"
            id="img_file"
            name="img_file"
            type="text"
            value="{{post.img_file}}"
            placeholder="Enter your image..."
          />
          <label for="img_file">Image</label>
        </div>
        <br />
        <!-- Submit success message-->
        <!---->
        <!-- This is what your users will see when the form-->
        <!-- has successfully submitted-->
        <div class="d-none" id="submitSuccessMessage">
          <div class="text-center mb-3">
            <div class="fw-bolder">Form submission successful!</div>
            To activate this form, sign up at
            <br />
            <a href="https://startbootstrap.com/solution/contact-forms"
              >https://startbootstrap.com/solution/contact-forms</a
            >
          </div>
        </div>
        <!-- Submit error message-->
        <!---->
        <!-- This is what your users will see when there is-->
        <!-- an error submitting the form-->
        <div class="d-none" id="submitErrorMessage">
          <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <!-- Submit Button-->
        <button
          class="btn btn-primary text-uppercase"
          id="submitButton"
          type="submit"
        >
          Submit
        </button>
      </form>
      <hr class="my-4" />
      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
